<h2>Contact Bethany's Pie Shop</h2>
<p>If you have any questions, please don't hesitate to reach out. Click the below link to send us an email!</p>
<email address="Info@@PieShop.com" content="Contact Us"></email>